input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}
input[type="text"]:focus {
    outline: none;
}

.title input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}
.title input[type="text"]:focus, .style-4 input[type="text"].focus {
    border-bottom: solid 2px #969696;
}

.save p { margin-top: 10px; }
a { text-decoration: none; margin: 0 10px; }

.hot-container {
    min-height: 100px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

a.btn {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

/* blue button */

a.btn.btn-save {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

a.btn.btn-save:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}

a.btn.btn-save:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}
