<!DOCTYPE html>
<html>
<head>
    <title> Pastedoc </title>
</head>
<body>
<div>
    <a href="#" class="btn btn-save" id="btnDocumentUpdate">Update</a>
    <input type="checkbox" id="js-readonly" {% if readonly %} checked {% endif %}>Read only
    <h2><label for="title">Title</label></h2>
    <input class="title" type="text" id="title" value="{{ title }}">
</div>
<div>
    <h2><label for="document">Body</label></h2>
    <textarea id="document" name="document">{{ body }}</textarea>
</div>
</body>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='assets/index.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
</html>